

div.sticky {
  z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    margin:0;
    top: 0;
    background-color: #e3e6b5;
    font-size: 20px;
    height: 25px;
    padding: 10px; 
 .sort {
   float:left;
   width:125px;
 }
 .filter{
   float:right;
   width:125px;
 }
 select {
  font-family: sans-serif;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  text-align-last: center;
  background-color: white;
  cursor: pointer;
  height: 25px;
  border-radius: 0;
 }
  }

