<div class = "sticky">   
    <select @change="changeSort()" v-model="sort" class="sort">
        <option value="" disabled>Sort</option>
        <option value="number">ID</option>
        <option value="az">A-Z</option>
        <option value="za">Z-A</option>
        <option value="height">Height</option>
        <option value="weight">Weight</option>
    </select>

    <select @change="changeFilter()" v-model="filter" class="filter">
        <option value="" disabled>Filter</option>
        <option value="all">All</option>
        <option value="favourites">Favorites</option>
        <option value="non-favourites">Non-Favorites</option>
    </select>
</div>
