.container {
    background-color: #e9eaec;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 0px;
    width: 150px;
    cursor: pointer;
    img {
        width: 100%;
    }
    .text {
        font-size: 20px;
    }
    p {
        line-height: 1.2;
        overflow: hidden;
    }
    .favourite {
        z-index: 1;
        position: relative;
        float: right;
        height: 40px;
        width: 40px;
    }
}
