.background-blur {
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}

.info-panel {
    background-color: white;
    position: fixed;
    top: calc(50vh - 200px);
    left: calc(50vw - 150px);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;

    h3 {
        font-size: 26px;
        line-height: 0.8;
    }
    .pokemon {
        height: 150px;
        width: 150px;
    }
    p {
        font-size: 20px;
        line-height: 1.3;
    }
    .favourite, .cross {
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    .favourite {
        float: left;
    }
    .cross {
        float: right;
    }
} 